body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#header{
    margin-top: 40px;
    height: 80px;
}
#center{
    margin: 0 auto;
    width: 1060px;
}
#logo{
    width: 180px;
    height: 60px;
    float: left;
}
#logo img{
    float: left;
}
#logo a{
    text-decoration: none;
}
#milan span:hover{
    color: orangered;
}
#primary{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
#secondary{
    color: white;
    font-size: 17px;
}
#milan{
    margin-left: 60px;
}
#contact{
    float: right;
    color: white;
    text-align: right;
}
#contact a{
    text-decoration: none;
    color: white;
}
.cards{
    width: 29.67%;
}
.cards h2{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
}
.cards a{
    text-decoration: none;
    color: white;
}
.cards h2:hover{
    color: orangered;
}
#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo img{
    border: 2px solid whitesmoke;
    border-radius: 2px;
    box-shadow: 2px 5px 10px black;
}
#bottom{
    text-align: center;
    color: whitesmoke;
    font-size: 12pt;
}
