* {
    box-sizing: border-box;
}

.fullPage {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.topMenu {
    background-image: url("../img/headerBackground.png");
    background-size: cover;
    height: 56px;
}

.primary {
    font-family: Arial, Verdana, sans-serif;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: left;
    margin-left: 100px;
    margin-top: 15px;
}
.iconBox {
    display: inline-block;
    margin-left: 800px;
    margin-right: 50px;
    margin-top: 12px;
}
.fa {
    color: white;
    font-size: 50px;
}

.glyphicon {
    color: white;
    margin-left: 20px;
}

.material-icons {
    color: white;
    margin-left: 20px;
}

.fa-journey {
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 28px;
}

.fa-facebook-f {
    float: left;
    height: 20px;
    width: 10px;
    margin-top: 13px;
    margin-left: 20px;
}

.topText {
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    margin-right: 93px;
    margin-top: 12px;
}
.topText a:link {
    color: rgba(60, 184, 120, 255);
    text-decoration: none;
}

.topText {
    float: right;
}

.register {
    background-color: white;
    position: absolute;
    margin: 65px 461px 25px 525px;
    width: 444px;
    height: 584px;
    border: 2px transparent;
    border-radius: 5px;
}

.signUp {
    font-family: Arial, Verdana, sans-serif;
    font-size: 20pt;
    color: rgba(67, 67, 67, 255);
    float: left;
    margin-left: 60px;
    margin-top: 29px;
}

.secondary {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12pt;
    float: right;
    margin-right: 62px;
    margin-top: 33px;
    text-decoration: none;

}
.secondary a:link {
    text-decoration: none;
    color: rgba(60, 184, 120, 255);
}
.buttons {
    width: 322px;
    height: 46px;
    display: inline-block;
    margin-left: 62px;
}
.buttons a:link {
    text-decoration: none;
}

.facebookLogo {
    width: 157px;
    height: 46px;
    background-color:#3b5998;
    position: relative;
    border-radius: 4px;
    border: 0;
}

.fa-facebook-f {
    color: white;
    margin-top: 15px;
}

.faceLine {
    float: left;
    color: darkgrey;
    margin-left: 8px;
    font-size: 26px;
}

.facebook {
    margin-top: 9px;
    margin-right: 15px;
    font-size: 13pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-left: 60px;
}

.googleLogo {
    width: 157px;
    height: 46px;
    position: relative;
    background-color: #df4a32;
    border-radius: 4px;
    border: 0;
}

.google {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 13pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-left: 75px;
}

.googleLine {
    float: left;
    color: darkgrey;
    margin-left: 14px;
    font-size: 26px;
}
.fa-google-plus {
    float: left;
    height: 20px;
    width: 10px;
    margin-top: 15px;
    margin-left: 20px;
    color: white;
}

.line {
    width: 320px;
}

.orLine{
    display: inline-block;
    height: 20px;
    width: 300px;
}

.left {
    width: 135px;
}

.right {
    width: 135px;
}

.userInfo{
    margin-left: 62px;
    margin-top: 58px;
}

.userInfo input {
    height: 46px;
    width: 322px;
    opacity: 0.5;
    margin-bottom: 9px;
}

.checkBox {
    height: 20px !important;
    width: 20px !important;
    margin-top: 24px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
    opacity: 1 !important;
    position: relative;
}

.termsConditions {
    font-size: 14pt;
    color: rgba(67, 67, 67, 255);
}

.termsConditions a:link {
    text-decoration: none;
    color: rgba(60, 184, 120, 255);
}

.createAccount {
    width: 322px;
    height: 46px;
    background-color:rgba(60, 184, 120, 255);
    border-radius: 4px;
}

.createAccount a:link {
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
}
