* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}

.ra {
    color:black;
    font-weight: bold;
    opacity: 1;
    font-size: 80px;
    font-family: Arial, sans-serif;
}
.mda {
    font-weight: bold;
    opacity: 1;
    color: lightseagreen;
    font-family: Arial, sans-serif;
    font-size: 80px;
}
.logo li{
    display: inline-block;
}
.logo {
    margin: 46px 815px 0 76px;
}
.header {
    margin: 46px 74px 38px 74px;
}
.menu {
    background-color: #35444F;
    width: 1281px;
    height: 70px;
    margin: 33px 75px 38px 74px;
    padding: 20px 146px 15px 210px;
}
.menu li {
    display: inline-block;
}
.menu li a:hover{
    background-color:#222F3A;
}
li a {
    width: 247px;
    height: 22px;
    opacity: 1;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
}
.leftMenu {
    height: 399px;
    width: 344px;
    border: solid #35444F 0;
    float: left;
    margin-left: 149px;
    margin-right: 39px;
    margin-bottom: 437px;
}
.leftMenu li {
    height: 81px;
    width: 342px;
    border: solid 1px #35444F;
    padding-top: 21px;
    padding-left: 33px;
    display: block;
}
.leftMenu li p{
    text-align: left;
    color: #495863;
    font-size: 30px;
    opacity: 1;
    text-decoration: none;
}
.leftMenu li:hover {
    background-color: #DBDBDB;
    color: black;
    padding-left: 52px;
}
.container {
    height: 885px;
    width: 832px;
    margin-left: 598px;

}
.photoBox {
    width: 830px;
    height: 529px;
    padding: 56px 201px 55px 223px;
    border: 1px solid grey;
}
.container img:hover {
    width:350px;
    height:410px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
.upText {
    text-align: justify;
    width: 770px;
    height: 114px;
    margin-left: 25px;
    margin-right: 51px;
    margin-bottom: 23px;

}
.bottomText{
    text-align: justify;
    width: 770px;
    height: 109px;
    margin-left: 25px;
    margin-right: 47px;
}
.bottomText p {
    opacity:1;
    color:#2C2C2C;
    font-family:Arial, sans-serif;
    font-size:18px
}
.upText p {
    opacity:1;
    color:#2C2C2C;
    font-family:Arial, sans-serif;
    font-size:18px;
    margin-top: 38px;
}
.footer {
    width: 1280px;
    height: 69px;
    background-color: #63696E;
    margin-right: 75px;
    margin-left: 149px;
    margin-bottom: 23px;
    padding-top: 20px;

}
.copyright{
    font-weight: bold;
    text-align: right;
    opacity:1;
    color:#010101;
    font-family:Arial, sans-serif;
    font-size:24px;
    margin-right: 26px;
    margin-left: 150px;
    margin-top: 25px;
}
.footer li{
    display: inline-block;
    float: left;

}
.footer li a{
    text-align: left;
    padding-left: 20px;
    font-size: 28px;
}
.footer li a:hover {
    color: deepskyblue;
    text-decoration: underline;
}