* {
    box-sizing: border-box;
}
body {
    text-align: center;
}
.header {
    margin-top: 24px;
    width: 100%;
}
.menu {
    text-align: center;
    padding-top: 10px;
}
.menu li {
    display: inline-block;
    margin-left: 20px
}
.menu li a{
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    opacity:1;
    color:#16A085;
    font-family: Arial, sans-serif;
    font-size:18px;
    align:left;
}
.menu li a:hover {
    color: blue;
}
.main {
    padding: 25px 0;

}
img {
    width: 100%;
    height: 790px;
}
.secondary {
    opacity:1;
    color:#373737;
    font-family: Arial, sans-serif;
    font-size:22px;
    padding-left: 257px;
    padding-right: 238px;
    font-weight: bold;
}
.para {
    margin-top: 30px;
    margin-right: 108px;
    margin-left: 108px;
}
p {
    font-weight: bold !important;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 25px !important;
}
.btn a {
    opacity: 1;
    color: #FFFFFF;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.btn {
    opacity: 1;
    width: 193px;
    height: 52px;
    background-color:#16A085;
    border-radius: 5%;
    border: 0;
    margin-top: 50px;
    margin-bottom: 35px;
}
.btn a:hover{
    color: blue;
}
.end {
    text-align: right;
    height: 81px;
}
.end span{
    margin: 35px 78px 34px 576px;
    font-weight: bold;
}
