
.pricingTable {
    border: 22px solid darkblue;
    width: 100%;
    height: 736px;
    border-collapse: collapse;
}
.pricingTable th, td {
    border: 1px solid grey;
    text-align: center;

}
.firstRaw, .secondRaw {
    background-color: #fafafa;
}
.primary{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    color: #484848;
}
.secondary{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    color: #484848;
}
.standard {
    background-color: #89c331;
    color: white;
    font-size: 24px;
}
.ultimate {
    background-color: #f04a56;
    color: white;
    font-size: 30px;
}
.premium {
    background-color: #20807c;
    color: white;
    font-size: 24px;
}
.thirdRaw {
    background-color: #f2f2f2;
}
.fourthRaw {
    background-color: #e3e3e3;
}
.fifthRaw {
    background-color: #f2f2f2;
}
.sixthRaw {
    background-color: #e3e3e3;
}
.seventhRaw {
    background-color: #f2f2f2;
}
.eighthRaw {
    background-color: #e3e3e3;
}
.ninthRaw {
    background-color: #f2f2f2;
}
.lastLeftColumn {
    background-color: #e3e3e3!important;
}
.thirdRaw, .fourthRaw, .fifthRaw,
.sixthRaw, .seventhRaw,
.eighthRaw {
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    font-family: Arial, Verdana, sans-serif;
}
.ninthRaw button {
    width: 192px;
    height: 49px;
    border: 0;
    border-radius: 4px;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
}
.contactUs {
    background-color: #484848;
}
.buyNowGreen {
    background-color: #89c331;
}
.buyNowRed {
    background-color: #f04a56;
}
.buyNowBlue {
    background-color: #20807c;
}
.glyphicon {
    margin-right: 12px;
}
.fa {
    margin-right: 12px;
}
.dollarSign {
    font-size: 60pt;
    color: rgba(72, 72, 72, 255);
    font-weight: bold;

}
.bigNumbers {
    text-align: left;
    font-weight: bold;
    font-size: 60pt;
    color: rgba(72, 72, 72, 255);

}
.remainder {
    font-size: 24pt;
    color: rgba(72, 72, 72, 255);
    font-weight: bold;
    margin-top: 16px;
    position: absolute;
    margin-bottom: 18px;
}
.perMonth {
    font-size: 18px;
}
.ninthRaw button:hover {

    background-color: deepskyblue;
    color: darkblue;

}