*{
    box-sizing: border-box;
}
.body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}
.center{
    margin-left: 157px;
}
.header{
    width:1366px;
    height: 45px;
    margin: 37px 148px 35px 15px;
}
.logo-h {
    height: 44px;
    width: 46px;
    float: left;
    position: absolute;
    margin-left: 0;
}
.logo-h img{
    position: absolute;
    left: 0;
    top: 0;
}
.primary{
    font-family: Arial, Verdana, sans-serif;
    font-size: 29pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-top: 10px;
    margin-left: 55px;
    margin-bottom: 0;
    float: left;
}
.holidayText{
    font-family: Arial, Verdana, sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    float: left;
    font-weight: bold;
    margin-top: 0;
    margin-left: 55px;
}
.email{
    font-family: Arial, Verdana, sans-serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: right;
    position: absolute;
    margin-left: 1195px;

}
.phoneNum{
    font-family: Arial, Verdana, sans-serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: right;
    position: absolute;
    margin-left: 1290px;
    margin-top: 55px;

}

.card {
    float: left;
    width: 33.33%;
    padding: 15px;
    position: relative;
    margin: 30px auto;
    z-index: 1;
}

.secondary {
    font-family: Arial, Verdana, sans-serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    padding-left: 60px;
    position: relative;

}
.card a{
    text-decoration: none;
}

.bottom {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    margin-right: 240px;

}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}